:root {
  font-size: medium;
  font-family: system-ui, sans-serif;

  --fg-colour: #222;
  --fg-error-colour: #d00000;
  --bg-colour: #fff;
  --bg-hover-colour: #ccc;
  --bg-clear-colour: #ff8f88;
  --bg-operator-colour: #a4d5f9;

  color: var(--fg-colour);
  background-color: var(--bg-colour);
}

:root.darkMode {
  --fg-colour: #ddd;
  --fg-error-colour: #ff5f5f;
  --bg-colour: #000;
  --bg-hover-colour: #333;
  --bg-clear-colour: #9d1f1f;
  --bg-operator-colour: #2266ae;
}

button {
  color: var(--fg-colour);
  background-color: var(--bg-colour);
}

button:hover {
  background-color: var(--bg-hover-colour);
}

button:active {
  color: var(--bg-colour);
  background-color: var(--fg-colour);
}

.calc {
  max-width: 35rem;
  min-height: 43rem;
  border: 3px solid var(--fg-colour);
  border-radius: 16px;
  padding: 1rem;
  margin: 0 auto;
  gap: 1rem;

  display: flex;
  flex-direction: column;
}

.calc button {
  border: 2px solid var(--fg-colour);
  border-radius: 6px;
  font-size: 3.5rem;
}

.screen {
  flex: 1;
  font-family: monospace;
  font-size: 4rem;
  color: var(--fg-colour);
  border: 2px solid var(--fg-colour);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.calc-inputs {
  flex: 2;
  display: flex;
}

.calc-numbers {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
}

.calc-numbers > * {
  flex-basis: 32%;
}

.calc-operators {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1%;
}

.calc-operators > * {
  flex: 1;
  background-color: var(--bg-operator-colour);
}

.calc-clear {
  background-color: var(--bg-clear-colour);
}

.error-message {
  font-size: 1rem;
  color: var(--fg-error-colour);
  text-align: center;
}
